<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        <%- include('../partials/header.ejs');-%>
        <p><%=helpText%></p>
        <%- include('../partials/footer.ejs');-%>